{% extends 'grid/main.html'%}

{% block container-content %}

<div class=romels-weekly-container-v4>
	<div class="romels-weekly-v4">
				<!-- I could create a class here -->
				<!-- if I wanted to make the     -->
				<!-- green if booked and clear   -->
				<!-- if not booked               -->
				<!-- just for styling purpose    -->

		<div class="simplegrid001">
<!-- This will be commmented out --> <!--
			<div class="itemr">
				<p class="leadr">Monday</p>
			</div>
			{% for i in schedule %}
			<div>
				<p>{{i.start_time}} - {{i.end_time}}</p>
				{% if True == scheduled %}
				<p>Booked</p>
				{% else %}
				<button>Book</button>
				{% endif %}
			</div>
			{% endfor %}-->
			<div class="itemr">
				<p class="leadr">{__replace__}</p>
			</div>
		</div>

		<div class="simplegrid002">
			<div class="itemr"><p class="leadr">Tuesday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

		<div class="simplegrid003">
			<div class="itemr"><p class="leadr">Wednesday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

		<div class="simplegrid004">
			<div class="itemr"><p class="leadr">Thursday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

		<div class="simplegrid005">
			<div class="itemr"><p class="leadr">Friday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

		<div class="simplegrid006">
			<div class="itemr"><p class="leadr">Saturday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

		<div class="simplegrid007">
			<div class="itemr"><p class="leadr">Sunday</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
			<div class="itemr"><p class="leadr">{__replace__}</p></div>
		</div>

	</div>
</div>

<!--
			
	my idea is to run a for loop within these
	divs

	{% for each in cellsDatesAndSuch %}
	<div></div>
	{% endfor%}


	something like that..
	Am still working on the idea for now. 

-->

{% endblock %}