{% extends 'grid/main.html'%}

{% block container-content %}

<div class=romels-container-container>
	<div class="romels-container">
		<div class="simpleflex001"><p class="display-1">Monday</p></div>
		<div class="simpleflex002"><p class="display-1">Tuesday</p></div>
		<div class="simpleflex003"><p class="display-1">Wednesday</p></div>
		<div class="simpleflex004"><p class="display-1">Thursday</p></div>
		<div class="simpleflex005"><p class="display-1">Friday</p></div>
		<div class="simpleflex006"><p class="display-1">Saturday</p></div>
		<div class="simpleflex007"><p class="display-1">Sunday</p></div>
	</div>
</div>

{% endblock %}