{% extends 'grid/main.html'%}

{% block container-content %}

<div class=romels-weekly-container-v2>
	<div class="romels-weekly-v2">

		<div class="simplegrid001">
			<div class="itemr"><p class="lead">Monday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid002">
			<div class="itemr"><p class="lead">Tuesday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid003">
			<div class="itemr"><p class="lead">Wednesday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid004">
			<div class="itemr"><p class="lead">Thursday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid005">
			<div class="itemr"><p class="lead">Friday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid006">
			<div class="itemr"><p class="lead">Saturday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

		<div class="simplegrid007">
			<div class="itemr"><p class="lead">Sunday</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
			<div class="itemr"><p class="lead">{__replace__}</p></div>
		</div>

	</div>
</div>

<!--
			
	my idea is to run a for loop within these
	divs

	{% for each in cellsDatesAndSuch %}
	<div></div>
	{% endfor%}


	something like that..
	Am still working on the idea for now. 

-->

{% endblock %}