{% extends 'grid/main.html'%}

{% load static %}
{% block content-css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% endblock %}

{% block container-content %}

<div class=romels-weekly-container>
	<div class="romels-weekly">
		<div class="simpleflex001"><p class="lead">Monday</p></div>
		<div class="simpleflex002"><p class="lead">Tuesday</p></div>
		<div class="simpleflex003"><p class="lead">Wednesday</p></div>
		<div class="simpleflex004"><p class="lead">Thursday</p></div>
		<div class="simpleflex005"><p class="lead">Friday</p></div>
		<div class="simpleflex006"><p class="lead">Saturday</p></div>
		<div class="simpleflex007"><p class="lead">Sunday</p></div>
	</div>
</div>

		<!--
			
			my idea is to run a for loop within these
			divs

			{% for each in cellsDatesAndSuch %}
			<div></div>
			{% endfor%}


			something like that..
			Am still working on the idea for now. 



		-->

{% endblock %}