{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<meta name="viewport" content="width=device-width"/>
	<title>main html</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/test.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<div class="grid-container">
		<div class="grid-item">
			<div class="time-item">6:00 am</div>
			<div class="time-item">6:30 am</div>
			<div class="time-item">7:00 am</div>
			<div class="time-item">7:30 am</div>
			<div class="time-item">8:00 am</div>
			<div class="time-item">8:30 am</div>
		</div>
		<div class="grid-item">
			<div class="time-item">6:00 am</div>
			<div class="time-item">6:30 am</div>
			<div class="time-item">7:00 am</div>
			<div class="time-item">7:30 am</div>
			<div class="time-item">8:00 am</div>
			<div class="time-item">8:30 am</div>
		</div>
		<div class="grid-item">
			<div class="time-item">6:00 am</div>
			<div class="time-item">6:30 am</div>
			<div class="time-item">7:00 am</div>
			<div class="time-item">7:30 am</div>
			<div class="time-item">8:00 am</div>
			<div class="time-item">8:30 am</div>
		</div>
		<div class="grid-item">
			<div class="time-item">6:00 am</div>
			<div class="time-item">6:30 am</div>
			<div class="time-item">7:00 am</div>
			<div class="time-item">7:30 am</div>
			<div class="time-item">8:00 am</div>
			<div class="time-item">8:30 am</div>
		</div>
		<div class="grid-item">
			<div class="time-item">6:00 am</div>
			<div class="time-item">6:30 am</div>
			<div class="time-item">7:00 am</div>
			<div class="time-item">7:30 am</div>
			<div class="time-item">8:00 am</div>
			<div class="time-item">8:30 am</div>
		</div>
		<div class="grid-item">
			<div>6:00 am</div>
			<div>6:30 am</div>
			<div>7:00 am</div>
			<div>7:30 am</div>
			<div>8:00 am</div>
			<div>8:30 am</div>
		</div>
		<div class="grid-item">
			<div>6:00 am</div>
			<div>6:30 am</div>
			<div>7:00 am</div>
			<div>7:30 am</div>
			<div>8:00 am</div>
			<div>8:30 am</div>
		</div>
	</div>
</body>

</html>
