{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Test 2</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/test2.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<h1>hello world</h1>
	<div class="griditself">
		<div class="griditems">1</div>
		<div class="griditems">2</div>
		<div class="griditems">3</div>
		<div class="griditems">4</div>
		<div class="griditems">5</div>
		<div class="griditems">6</div>
		<div class="griditems">7</div>
	</div>
	<div class="griditself1">
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
		<div class="griditems1">
			<div class="time">06:00am</div>
			<div class="time">07:00am</div>
			<div class="time">08:00am</div>
			<div class="time">09:00am</div>
			<div class="time">10:00am</div>
		</div>
	</div>

</body>

</html>
