{% extends 'grid/main.html'%}

{% load static %}
{% block content-css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% endblock %}

{% block container-content %}
<div class=romels-container-container>
	<div class="romels-container">
		<header class="display-1 d-flex align-items-center justify-content-center rounded">Header</header>
		<nav class="display-1 d-flex align-items-center justify-content-center rounded">NavBar</nav>
		<main class="display-1 d-flex align-items-center justify-content-center rounded">Main</main>
		<footer class="display-1 d-flex align-items-center justify-content-center rounded">Footer</footer>
	</div>
</div>
{% endblock %}