{% extends 'updateform/updateforms_main.html' %}
{% load static %}
{% load modulo %}
{% block shop-css %}
<title>Simple Blog</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/simple_blog.css' %}">
{% endblock %}

{% block shop-content %}
<!-- Start of blog-div -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-6 article mt-3">
			<div class="bg-white shadow-lg article1 p-5">
				<!-- <div class="mb-2">
					Article
				</div> -->
				<div class="bg-primary shadow-lg text-center text-white lead helloworld">
					<a class="text-white aclasswide" href="#">Hello World</a>
				</div>
			</div>
			<div class="my-5">
				<div class="card shadow-lg">
				  <div class="card-body">
				    <form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <div class="form-check">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label mb-3" for="exampleCheck1">Check me out</label>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				  </div>
				</div>
			</div>
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col-xl-6 article mt-3">
			<!-- <h1 class="display-4">Hello,</h1> -->
			<!-- empty paragraph -->
			<!-- <div>
				<blockquote class="blockquote">
					<p>Test Text here</p>
					<footer class="text-right mb-5 blockquote-footer">
						by Romel,
						<cite>Self-Published Piece</cite>
					</footer>
				</blockquote>
			<p class="lead">Another test text here </p>
			</div> --> <!-- end of empty paragraph -->
			<!-- first paragraph -->
			<p class="px-5 py-5 mb-5 shadow-lg bg-white simpleparagraph"> 
				This article explores Python modules and Python packages, two mechanisms that facilitate modular programming. 

				Modular programming refers to the process of breaking a large, unwieldy programming task into separate, smaller, more manageable subtasks or modules. Individual modules can then be cobbled together like building blocks to create a larger application.

				There are several advantages to modularizing code in a large application:

				Simplicity: Rather than focusing on the entire problem at hand, a module typically focuses on one relatively small portion of the problem. If you’re working on a single module, you’ll have a smaller problem domain to wrap your head around. This makes development easier and less error-prone.

				Maintainability: Modules are typically designed so that they enforce logical boundaries between different problem domains. If modules are written in a way that minimizes interdependency, there is decreased likelihood that modifications to a single module will have an impact on other parts of the program. (You may even be able to make changes to a module without having any knowledge of the application outside that module.) This makes it more viable for a team of many programmers to work collaboratively on a large application.

				Reusability: Functionality defined in a single module can be easily reused (through an appropriately defined interface) by other parts of the application. This eliminates the need to duplicate code.

				Scoping: Modules typically define a separate namespace, which helps avoid collisions between identifiers in different areas of a program. (One of the tenets in the Zen of Python is Namespaces are one honking great idea—let’s do more of those!)

				Functions, modules and packages are all constructs in Python that promote code modularization. <span></span>
			</p>
			<!-- end of first paragraph -->
			<p>another paragraph</p>
			<!-- This table -->
			<div class="shadow-lg p-2 bg-white mb-5">
				<table class="table table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				      <th scope="col">Last</th>
				      <th scope="col">Handle</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Mark</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Jacob</td>
				      <td>Thornton</td>
				      <td>@fat</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Larry</td>
				      <td>the Bird</td>
				      <td>@twitter</td>
				    </tr>
				  </tbody>
				</table>
			</div> <!-- End of this table -->
			<p>This table</p>
		</div>
	</div>
</div> <!-- End of blog-div -->

{% endblock %}