{% extends 'updateform/updateforms_main.html' %}
{% load static %}
{% load modulo %}
{% block shop-css %}
<title>Browser_in_updateforms</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/simple_blog.css' %}">
{% endblock %}

{% block shop-content %}
<!-- Start of blog-div -->
<div class="blog-div">
	<h1>Hello World</h1>
	<p>Hello paragraph</p>
</div> <!-- End of blog-div -->

{% endblock %}