/* 
	This will be where I will place
	my main.css 

*/

/* i'm not sure what happened... saving issue */
body {
	height:100vh;
}

.romeltitlefont {
	color:blue;
}

.romels-container {
	display:grid;
	height:100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr;
	grid-template-areas: 
	"h h h"
	"n m m"
	"n m m"
	"n m m"
	"f f f";
	background-color: #ebeff5;
	grid-gap:0.2rem;
}
.romels-container-container {
	margin:0.2rem;
}

#romelsid {
	display:flex;
	align-items: center;
	justify-content: center;
	grid-area: h;
	background-color: grey;
}

#romelsnavbar {
	display:flex;
	align-items: center;
	justify-content: center;
	grid-area: n;
	background-color:#4cb4c7;
}

#romelsmain {
	display:flex;
	align-items: center;
	justify-content: center;
	grid-area: m;
	background-color:#7abecc;
}

#romelsfooter {
	display:flex;
	align-items: center;
	justify-content: center;
	grid-area: f;
	background-color: teal;
}
/* why is this not working? */

/*
@media screen and (max-width: 500px) {
	.romels-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"h"
		"n"
		"m"
		"f";
	}
}
*/


/* let me test without this media screen*/

@media only screen and (max-width: 500px) {
	.romels-container {
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		"h"
		"n" 
		"m"
		"m"
		"f"
		;
	}
}
