/* */

.griditself {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-auto-rows: auto;

}

.griditems {
	border: dotted;
}

.griditself1 {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-auto-rows: auto;
	
}

.griditems1 {
	border: dotted;
}