<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Awesome_Sauce\Desktop\Projects\grid_project\gridWebsite\browser\templates\browser\browser.css">
</head>
<body>
	<div class="container">
		<div class="red-box box">
			Red
		</div>
		<div class="blue-box box">
			Blue
		</div>
		<div class="yellow-box box">
			Yellow
		</div>
		<div class="orange-box box">
			Orange
		</div>
	</div>
	<div class="another-container">
		<div class="flex-container">
			<div class="red-box-1 box-1">
				Red
			</div>
			<div class="blue-box box-1">
				Blue
			</div>
			<div class="yellow-box-1 box-1">
				Yellow
			</div>
			<div class="orange-box-1 box-1">
				Orange
			</div>
			<div class="grey-box-1 box-1">
				Grey
			</div>
			<div class="grey-box-1 box-1">
				Grey
			</div>
			<div class="grey-box-3 box-1">
				Grey
			</div>
		</div>
	<div class="another-container">
		<div class="flex-container-2">
			<div class="red-box-1 box-2">
				Red
			</div>
			<div class="blue-box box-2">
				Blue
			</div>
			<div class="yellow-box-1 box-2">
				Yellow
			</div>
			<div class="orange-box-1 box-2">
				Orange
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-3 box-2">
				Grey
			</div>
			<div class="red-box-1 box-2">
				Red
			</div>
			<div class="blue-box box-2">
				Blue
			</div>
			<div class="yellow-box-1 box-2">
				Yellow
			</div>
			<div class="orange-box-1 box-2">
				Orange
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-3 box-2">
				Grey
			</div>
			<div class="red-box-1 box-2">
				Red
			</div>
			<div class="blue-box box-2">
				Blue
			</div>
			<div class="yellow-box-1 box-2">
				Yellow
			</div>
			<div class="orange-box-1 box-2">
				Orange
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-1 box-2">
				Grey
			</div>
			<div class="grey-box-3 box-2">
				Grey
			</div>
		</div>
	</div>
</body>
</html>