{% extends 'shop/shop_main.html' %}
{% load static %}
{% block shop-css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/shop_home.css' %}">
{% endblock %}

{% block shop-content %}
<!--These are nothing but random typings -->
<div>
	<br>
	<h1>hello World</h1>
	<p>I can continue writing until my heart contents</p>
	<p>Awesome sauce</p>
	<p>This is more than enough for me to write a website</p>
	<h1>this works, yes!</h1>
</div>
<div>
	<h2>What can I write about here?</h2>
</div>
<br>
<br>
<!-- This table shows values going in a row -->
<div class="container">
	<table class="table table-striped table-bordered">
		<caption>This is the new table</caption>
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Court</th>
				<th>Court Time</th>
				<th>Player 1</th>
				<th>Player 2</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in objects %}
			<tr>
				<td>{{obj.id}}</td>
				<td>{{obj.court}}</td>
				<td>{{obj.court_time}}</td>
				<td>{{obj.player1}}</td>
				<td>{{obj.guest}}</td>
				<td>{{obj.month_date}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}